%h1 Deleted Issue Summaries
%br/

%table#myTable.table.table-striped.table-bordered
  %thead
    %tr
      %th Issue Summary Id
      %th Name
      %th Deleted_At
      %th Action

  %tbody
    - @issue_sums.each do |issue_sum|
      %tr
        %td
          = issue_sum.id
        %td
          = issue_sum.name
        %td
          = issue_sum.deleted_at.in_time_zone("Asia/Kolkata").strftime("%d/%m/%Y %H:%M %p")
        %td
          = link_to 'Restore', restore_issuesummary_path(issue_sum), class: 'btn btn-primary button'