%h1 Users
%br/

%table#myTable.table.table-striped.table-bordered
  %thead
    %tr
      %th User Id
      %th Full Name
      %th Action

  %tbody
    - @users.each do |user|
      %tr
        %td
          = user.id
        %td
          = user.fullname.blank? ? "N/A" : user.fullname
        %td
          = link_to user do
            %i.glyphicon.glyphicon-eye-open
          = link_to user, method: :delete, data: { confirm: 'Are you sure you want to delete user? Once you delete user the tickets related user also deleted?' }do
            %i.glyphicon.glyphicon-remove