%h1 Deleted Departments
%br/

%table#myTable2.table.table-striped.table-bordered
  %thead
    %tr
      %th Department Id
      %th Name
      %th Deleted_At
      %th Action

  %tbody
    - @departments.each do |department|
      %tr
        %td
          = department.id
        %td
          = department.name
        %td
          = department.deleted_at.in_time_zone("Asia/Kolkata").strftime("%d/%m/%Y")
        %td
          = link_to restore_departments_path(resource_id: department), class: "tag-tooltip", :data => {:toggle=>"tooltip"}, 'data-original-title' => "Restore", 'data-placement' => 'right' do
            %i.glyphicon.glyphicon-repeat