%h1 Home

%br
%h4
  %b Ticket Management System (TMS)

%p
  A ticket management system is specifically designed to report various issues. Once ticket is created a respective administrator will be notified via email. Administrator can login and check the details of issue and resolve accordingly.
%p
  The system is more efficient and convenient than traditional email, Skype and directly contacting respective person.

%p
  %ul
    User features:
    %li
      Manage account
    %li
      Create and delete tickets
    %li
      List, sort and search tickets
    %li
      Create post on tickets

%p
  %ul
    Administrator features:
    %li
      Manage account
    %li
      Delete user
    %li
      Manage tickets, departments and issue summaries
    %li
      List, sort and search users, tickets, departments and issue summaries
    %li
      Create post on tickets