%h1 Deleted Tickets

%br/
.row
  .col-md-2
    %strong Ticket Id
  .col-md-2
    %strong Issue_Summary
  .col-md-3
    %strong Deleted_At
  .col-md-5

- @tickets.each do |ticket|
  %br/
  .row
    .col-md-2
      = ticket.id
    .col-md-2
      = ticket.issue_summary.nil? ? "N/A" : ticket.issue_summary.name
    .col-md-3
      = ticket.deleted_at
    .col-md-5
      -if ticket.user == nil || ticket.department == nil || ticket.issue_summary == nil
        Restore User and / or Department and / or Issue_Summary First.
      -else
        = link_to 'Restore', restore_ticket_path(ticket), class: 'btn btn-primary button'