%h1 Deleted Tickets
%br/

= render 'nav_tabs'

%br/

%table#myTable4.table.table-striped.table-bordered
  %thead
    %tr
      %th Ticket Id
      %th Department
      %th Issue Summary
      %th Priority
      -if current_user.has_role? :admin
        %th Created By
      %th Deleted_At
      %th Action
