%h1 Tickets
%br/

= render 'nav_tabs'

%br/

%table#myTable3.table.table-striped.table-bordered
  %thead
    %tr
      %th Ticket Id
      %th Department
      %th Issue Summary
      %th Priority
      -if current_user.has_role? :admin
        %th Created By
        %th Location
      %th Created_At
      %th Action
